<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Customer Login · MoKhata</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/auth.css">
</head>

<body>

<div class="container">
  <h3>Customer Login</h3>

  <form method="post">
    <input
      name="shop_code"
      placeholder="Shop Code"
      required
      autofocus
    >

    <input
      name="customer_code"
      placeholder="Customer Code"
      required
    >

    <input
      type="password"
      name="password"
      placeholder="Password"
      required
    >

    <button type="submit">Login</button>
  </form>
</div>

</body>
</html>
