<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MoKhata</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/auth.css">
</head>

<body>

<div class="container">
  <h3>MoKhata</h3>

  <form action="/owner/login" method="get">
    <button type="submit">Owner Login</button>
  </form>

  <br>

  <form action="/customer/login" method="get">
    <button type="submit">Customer Login</button>
  </form>
</div>

</body>
</html>
